<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web News Api</title>
</head>
<body>
    <p id="title"></p>
    <img src="{{ url_for('static', filename='192.png') }}" alt="" id="imageSA">

    <address>https://www.turkhackteam.org/</address>
    <h1>kullanımı</h1>
    <li>normal requests gönderiniz</li>
    <p id="name">Author : AdanlıTrojan</p>
<img src="affet.png" alt="örnek görüntüler" />

</body>
</html>
